In [55]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings("ignore")

In [56]:
company = pd.read_csv("BasicCompanyData-2023-07-01-part7_7.csv")
company.head()

,CompanyName,CompanyNumber,RegAddress.CareOf,RegAddress.POBox,RegAddress.AddressLine1,RegAddress.AddressLine2,RegAddress.PostTown,RegAddress.County,RegAddress.Country,RegAddress.PostCode,...,PreviousName_7.CONDATE,PreviousName_7.CompanyName,PreviousName_8.CONDATE,PreviousName_8.CompanyName,PreviousName_9.CONDATE,PreviousName_9.CompanyName,PreviousName_10.CONDATE,PreviousName_10.CompanyName,ConfStmtNextDueDate,ConfStmtLastMadeUpDate
0,VISION PACK LTD,10831327,NaN,NaN,6-8 MANVERS ROAD,SWALLOWNEST,SHEFFIELD,NaN,UNITED KINGDOM,S26 4UD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01/08/2023,18/07/2022
1,VISION PAINT & DESIGN LIMITED,05628705,NaN,NaN,9 FAIRLOP AVENUE,NaN,CANVEY ISLAND,ESSEX,NaN,SS8 9DX,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17/11/2023,03/11/2022
2,VISION PAINT SPRAYING LIMITED,10947174,NaN,NaN,UNIT 4F MANOR BUSINESS PARK,WOODFORD HALSE,DAVENTRY,NaN,ENGLAND,NN11 3UB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18/09/2021,04/09/2020
3,VISION PARATUS LTD,14906975,NaN,NaN,71-75 SHELTON STREET,COVENT GARDEN,LONDON,NaN,UNITED KINGDOM,WC2H 9JQ,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13/06/2024,NaN
4,VISION PARK CYGNET MANAGEMENT COMPANY LIMITED,05747663,NaN,NaN,"4 OFFICE VILLAGE FORDER WAY, CYGNET PARK",HAMPTON,PETERBOROUGH,CAMBRIDGESHIRE,ENGLAND,PE7 8GX,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14/04/2024,31/03/2023

In [57]:
company.describe()

,DissolutionDate,Accounts.AccountRefDay,Accounts.AccountRefMonth,Mortgages.NumMortCharges,Mortgages.NumMortOutstanding,Mortgages.NumMortPartSatisfied,Mortgages.NumMortSatisfied,LimitedPartnerships.NumGenPartners,LimitedPartnerships.NumLimPartners,PreviousName_9.CONDATE,PreviousName_9.CompanyName,PreviousName_10.CONDATE,PreviousName_10.CompanyName
count,0.0,252810.000000,252810.000000,259638.000000,259638.000000,259638.000000,259638.000000,259638.000000,259638.000000,0.0,0.0,0.0,0.0
mean,NaN,29.989992,6.285811,0.586698,0.311102,0.000401,0.274840,0.008974,0.016642,NaN,NaN,NaN,NaN
std,NaN,3.518429,3.523109,4.359786,2.980472,0.026180,2.591935,0.105560,0.691037,NaN,NaN,NaN,NaN
min,NaN,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN
25%,NaN,30.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN
50%,NaN,31.000000,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN
75%,NaN,31.000000,9.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN
max,NaN,31.000000,12.000000,731.000000,667.000000,6.000000,538.000000,7.000000,224.000000,NaN,NaN,NaN,NaN

In [58]:
company.shape

(259638, 55)

In [59]:
company.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259638 entries, 0 to 259637
Data columns (total 55 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   CompanyName                         259638 non-null  object
 1    CompanyNumber                      259638 non-null  object
 2   RegAddress.CareOf                   1998 non-null    object
 3   RegAddress.POBox                    1597 non-null    object
 4   RegAddress.AddressLine1             256630 non-null  object
 5    RegAddress.AddressLine2            159723 non-null  object
 6   RegAddress.PostTown                 254875 non-null  object
 7   RegAddress.County                   81885 non-null   object
 8   RegAddress.Country                  203155 non-null  object
 9   RegAddress.PostCode                 255185 non-null  object
 10  CompanyCategory                     259638 non-null  object
 11  CompanyStatus                       259638 non-null  object
 12  CountryOfOrigin                     259638 non-null  object
 13  DissolutionDate                     0 non-null       float64
 14  IncorporationDate                   259638 non-null  object
 15  Accounts.AccountRefDay              252810 non-null  float64
 16  Accounts.AccountRefMonth            252810 non-null  float64
 17  Accounts.NextDueDate                252045 non-null  object
 18  Accounts.LastMadeUpDate             186153 non-null  object
 19  Accounts.AccountCategory            259638 non-null  object
 20  Returns.NextDueDate                 251907 non-null  object
 21  Returns.LastMadeUpDate              87160 non-null   object
 22  Mortgages.NumMortCharges            259638 non-null  int64
 23  Mortgages.NumMortOutstanding        259638 non-null  int64
 24  Mortgages.NumMortPartSatisfied      259638 non-null  int64
 25  Mortgages.NumMortSatisfied          259638 non-null  int64
 26  SICCode.SicText_1                   259638 non-null  object
 27  SICCode.SicText_2                   43292 non-null   object
 28  SICCode.SicText_3                   18764 non-null   object
 29  SICCode.SicText_4                   8666 non-null    object
 30  LimitedPartnerships.NumGenPartners  259638 non-null  int64
 31  LimitedPartnerships.NumLimPartners  259638 non-null  int64
 32  URI                                 259638 non-null  object
 33  PreviousName_1.CONDATE              24827 non-null   object
 34   PreviousName_1.CompanyName         24827 non-null   object
 35   PreviousName_2.CONDATE             4291 non-null    object
 36   PreviousName_2.CompanyName         4291 non-null    object
 37  PreviousName_3.CONDATE              933 non-null     object
 38   PreviousName_3.CompanyName         933 non-null     object
 39  PreviousName_4.CONDATE              230 non-null     object
 40   PreviousName_4.CompanyName         230 non-null     object
 41  PreviousName_5.CONDATE              62 non-null      object
 42   PreviousName_5.CompanyName         62 non-null      object
 43  PreviousName_6.CONDATE              17 non-null      object
 44   PreviousName_6.CompanyName         17 non-null      object
 45  PreviousName_7.CONDATE              6 non-null       object
 46   PreviousName_7.CompanyName         6 non-null       object
 47  PreviousName_8.CONDATE              2 non-null       object
 48   PreviousName_8.CompanyName         2 non-null       object
 49  PreviousName_9.CONDATE              0 non-null       float64
 50   PreviousName_9.CompanyName         0 non-null       float64
 51  PreviousName_10.CONDATE             0 non-null       float64
 52   PreviousName_10.CompanyName        0 non-null       float64
 53  ConfStmtNextDueDate                 256350 non-null  object
 54   ConfStmtLastMadeUpDate             204014 non-null  object
dtypes: float64(7), int64(6), object(42)
memory usage: 108.9+ MB

In [60]:
company.dtypes

CompanyName                            object
 CompanyNumber                         object
RegAddress.CareOf                      object
RegAddress.POBox                       object
RegAddress.AddressLine1                object
 RegAddress.AddressLine2               object
RegAddress.PostTown                    object
RegAddress.County                      object
RegAddress.Country                     object
RegAddress.PostCode                    object
CompanyCategory                        object
CompanyStatus                          object
CountryOfOrigin                        object
DissolutionDate                       float64
IncorporationDate                      object
Accounts.AccountRefDay                float64
Accounts.AccountRefMonth              float64
Accounts.NextDueDate                   object
Accounts.LastMadeUpDate                object
Accounts.AccountCategory               object
Returns.NextDueDate                    object
Returns.LastMadeUpDate                 object
Mortgages.NumMortCharges                int64
Mortgages.NumMortOutstanding            int64
Mortgages.NumMortPartSatisfied          int64
Mortgages.NumMortSatisfied              int64
SICCode.SicText_1                      object
SICCode.SicText_2                      object
SICCode.SicText_3                      object
SICCode.SicText_4                      object
LimitedPartnerships.NumGenPartners      int64
LimitedPartnerships.NumLimPartners      int64
URI                                    object
PreviousName_1.CONDATE                 object
 PreviousName_1.CompanyName            object
 PreviousName_2.CONDATE                object
 PreviousName_2.CompanyName            object
PreviousName_3.CONDATE                 object
 PreviousName_3.CompanyName            object
PreviousName_4.CONDATE                 object
 PreviousName_4.CompanyName            object
PreviousName_5.CONDATE                 object
 PreviousName_5.CompanyName            object
PreviousName_6.CONDATE                 object
 PreviousName_6.CompanyName            object
PreviousName_7.CONDATE                 object
 PreviousName_7.CompanyName            object
PreviousName_8.CONDATE                 object
 PreviousName_8.CompanyName            object
PreviousName_9.CONDATE                float64
 PreviousName_9.CompanyName           float64
PreviousName_10.CONDATE               float64
 PreviousName_10.CompanyName          float64
ConfStmtNextDueDate                    object
 ConfStmtLastMadeUpDate                object
dtype: object

In [61]:
# print all column name
col=company.columns
print(col)

Index(['CompanyName', ' CompanyNumber', 'RegAddress.CareOf',
       'RegAddress.POBox', 'RegAddress.AddressLine1',
       ' RegAddress.AddressLine2', 'RegAddress.PostTown', 'RegAddress.County',
       'RegAddress.Country', 'RegAddress.PostCode', 'CompanyCategory',
       'CompanyStatus', 'CountryOfOrigin', 'DissolutionDate',
       'IncorporationDate', 'Accounts.AccountRefDay',
       'Accounts.AccountRefMonth', 'Accounts.NextDueDate',
       'Accounts.LastMadeUpDate', 'Accounts.AccountCategory',
       'Returns.NextDueDate', 'Returns.LastMadeUpDate',
       'Mortgages.NumMortCharges', 'Mortgages.NumMortOutstanding',
       'Mortgages.NumMortPartSatisfied', 'Mortgages.NumMortSatisfied',
       'SICCode.SicText_1', 'SICCode.SicText_2', 'SICCode.SicText_3',
       'SICCode.SicText_4', 'LimitedPartnerships.NumGenPartners',
       'LimitedPartnerships.NumLimPartners', 'URI', 'PreviousName_1.CONDATE',
       ' PreviousName_1.CompanyName', ' PreviousName_2.CONDATE',
       ' PreviousName_2.CompanyName', 'PreviousName_3.CONDATE',
       ' PreviousName_3.CompanyName', 'PreviousName_4.CONDATE',
       ' PreviousName_4.CompanyName', 'PreviousName_5.CONDATE',
       ' PreviousName_5.CompanyName', 'PreviousName_6.CONDATE',
       ' PreviousName_6.CompanyName', 'PreviousName_7.CONDATE',
       ' PreviousName_7.CompanyName', 'PreviousName_8.CONDATE',
       ' PreviousName_8.CompanyName', 'PreviousName_9.CONDATE',
       ' PreviousName_9.CompanyName', 'PreviousName_10.CONDATE',
       ' PreviousName_10.CompanyName', 'ConfStmtNextDueDate',
       ' ConfStmtLastMadeUpDate'],
      dtype='object')

In [62]:
# check for nulls
for col in company.columns:
    val=np.mean(company[col].isnull())
    print('{} -{}% nulls'.format(col,round(val*100)))

CompanyName -0% nulls
 CompanyNumber -0% nulls
RegAddress.CareOf -99% nulls
RegAddress.POBox -99% nulls
RegAddress.AddressLine1 -1% nulls
 RegAddress.AddressLine2 -38% nulls
RegAddress.PostTown -2% nulls
RegAddress.County -68% nulls
RegAddress.Country -22% nulls
RegAddress.PostCode -2% nulls
CompanyCategory -0% nulls
CompanyStatus -0% nulls
CountryOfOrigin -0% nulls
DissolutionDate -100% nulls
IncorporationDate -0% nulls
Accounts.AccountRefDay -3% nulls
Accounts.AccountRefMonth -3% nulls
Accounts.NextDueDate -3% nulls
Accounts.LastMadeUpDate -28% nulls
Accounts.AccountCategory -0% nulls
Returns.NextDueDate -3% nulls
Returns.LastMadeUpDate -66% nulls
Mortgages.NumMortCharges -0% nulls
Mortgages.NumMortOutstanding -0% nulls
Mortgages.NumMortPartSatisfied -0% nulls
Mortgages.NumMortSatisfied -0% nulls
SICCode.SicText_1 -0% nulls
SICCode.SicText_2 -83% nulls
SICCode.SicText_3 -93% nulls
SICCode.SicText_4 -97% nulls
LimitedPartnerships.NumGenPartners -0% nulls
LimitedPartnerships.NumLimPartners -0% nulls
URI -0% nulls
PreviousName_1.CONDATE -90% nulls
 PreviousName_1.CompanyName -90% nulls
 PreviousName_2.CONDATE -98% nulls
 PreviousName_2.CompanyName -98% nulls
PreviousName_3.CONDATE -100% nulls
 PreviousName_3.CompanyName -100% nulls
PreviousName_4.CONDATE -100% nulls
 PreviousName_4.CompanyName -100% nulls
PreviousName_5.CONDATE -100% nulls
 PreviousName_5.CompanyName -100% nulls
PreviousName_6.CONDATE -100% nulls
 PreviousName_6.CompanyName -100% nulls
PreviousName_7.CONDATE -100% nulls
 PreviousName_7.CompanyName -100% nulls
PreviousName_8.CONDATE -100% nulls
 PreviousName_8.CompanyName -100% nulls
PreviousName_9.CONDATE -100% nulls
 PreviousName_9.CompanyName -100% nulls
PreviousName_10.CONDATE -100% nulls
 PreviousName_10.CompanyName -100% nulls
ConfStmtNextDueDate -1% nulls
 ConfStmtLastMadeUpDate -21% nulls

In [63]:
company.head(4)

,CompanyName,CompanyNumber,RegAddress.CareOf,RegAddress.POBox,RegAddress.AddressLine1,RegAddress.AddressLine2,RegAddress.PostTown,RegAddress.County,RegAddress.Country,RegAddress.PostCode,...,PreviousName_7.CONDATE,PreviousName_7.CompanyName,PreviousName_8.CONDATE,PreviousName_8.CompanyName,PreviousName_9.CONDATE,PreviousName_9.CompanyName,PreviousName_10.CONDATE,PreviousName_10.CompanyName,ConfStmtNextDueDate,ConfStmtLastMadeUpDate
0,VISION PACK LTD,10831327,NaN,NaN,6-8 MANVERS ROAD,SWALLOWNEST,SHEFFIELD,NaN,UNITED KINGDOM,S26 4UD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01/08/2023,18/07/2022
1,VISION PAINT & DESIGN LIMITED,05628705,NaN,NaN,9 FAIRLOP AVENUE,NaN,CANVEY ISLAND,ESSEX,NaN,SS8 9DX,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17/11/2023,03/11/2022
2,VISION PAINT SPRAYING LIMITED,10947174,NaN,NaN,UNIT 4F MANOR BUSINESS PARK,WOODFORD HALSE,DAVENTRY,NaN,ENGLAND,NN11 3UB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18/09/2021,04/09/2020
3,VISION PARATUS LTD,14906975,NaN,NaN,71-75 SHELTON STREET,COVENT GARDEN,LONDON,NaN,UNITED KINGDOM,WC2H 9JQ,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13/06/2024,NaN

In [64]:
company.isna().sum()

CompanyName                                0
 CompanyNumber                             0
RegAddress.CareOf                     257640
RegAddress.POBox                      258041
RegAddress.AddressLine1                 3008
 RegAddress.AddressLine2               99915
RegAddress.PostTown                     4763
RegAddress.County                     177753
RegAddress.Country                     56483
RegAddress.PostCode                     4453
CompanyCategory                            0
CompanyStatus                              0
CountryOfOrigin                            0
DissolutionDate                       259638
IncorporationDate                          0
Accounts.AccountRefDay                  6828
Accounts.AccountRefMonth                6828
Accounts.NextDueDate                    7593
Accounts.LastMadeUpDate                73485
Accounts.AccountCategory                   0
Returns.NextDueDate                     7731
Returns.LastMadeUpDate                172478
Mortgages.NumMortCharges                   0
Mortgages.NumMortOutstanding               0
Mortgages.NumMortPartSatisfied             0
Mortgages.NumMortSatisfied                 0
SICCode.SicText_1                          0
SICCode.SicText_2                     216346
SICCode.SicText_3                     240874
SICCode.SicText_4                     250972
LimitedPartnerships.NumGenPartners         0
LimitedPartnerships.NumLimPartners         0
URI                                        0
PreviousName_1.CONDATE                234811
 PreviousName_1.CompanyName           234811
 PreviousName_2.CONDATE               255347
 PreviousName_2.CompanyName           255347
PreviousName_3.CONDATE                258705
 PreviousName_3.CompanyName           258705
PreviousName_4.CONDATE                259408
 PreviousName_4.CompanyName           259408
PreviousName_5.CONDATE                259576
 PreviousName_5.CompanyName           259576
PreviousName_6.CONDATE                259621
 PreviousName_6.CompanyName           259621
PreviousName_7.CONDATE                259632
 PreviousName_7.CompanyName           259632
PreviousName_8.CONDATE                259636
 PreviousName_8.CompanyName           259636
PreviousName_9.CONDATE                259638
 PreviousName_9.CompanyName           259638
PreviousName_10.CONDATE               259638
 PreviousName_10.CompanyName          259638
ConfStmtNextDueDate                     3288
 ConfStmtLastMadeUpDate                55624
dtype: int64

# CLEANING THE DATA SET

In [65]:
# Forward fill missing values in certain columns
forward_fill_columns = ['RegAddress.CareOf', 'RegAddress.POBox', 'RegAddress.AddressLine1', 'RegAddress.AddressLine2',
                        'RegAddress.PostTown', 'RegAddress.County', 'RegAddress.Country', 'RegAddress.PostCode',
                        'Accounts.AccountRefDay', 'Accounts.AccountRefMonth', 'Accounts.NextDueDate',
                        'Accounts.LastMadeUpDate', 'Returns.NextDueDate', 'Returns.LastMadeUpDate',
                        'SICCode.SicText_2', 'SICCode.SicText_3', 'SICCode.SicText_4', 'PreviousName_1.CONDATE',
                        'PreviousName_1.CompanyName', 'PreviousName_2.CONDATE', 'PreviousName_2.CompanyName',
                        'PreviousName_3.CONDATE', 'PreviousName_3.CompanyName', 'PreviousName_4.CONDATE',
                        'PreviousName_4.CompanyName', 'PreviousName_5.CONDATE', 'PreviousName_5.CompanyName',
                        'PreviousName_6.CONDATE', 'PreviousName_6.CompanyName', 'PreviousName_7.CONDATE',
                        'PreviousName_7.CompanyName', 'PreviousName_8.CONDATE', 'PreviousName_8.CompanyName',
                        'PreviousName_9.CONDATE', 'PreviousName_9.CompanyName', 'PreviousName_10.CONDATE',
                        'PreviousName_10.CompanyName', 'ConfStmtNextDueDate']

# Check if columns exist in the DataFrame before filling missing values
for col in forward_fill_columns:
    if col in company.columns:
        company[col] = company[col].ffill()

# Fill missing values in numeric columns with mean values
mean_impute_columns = ['Accounts.AccountCategory', 'Mortgages.NumMortCharges', 'Mortgages.NumMortOutstanding',
                       'Mortgages.NumMortPartSatisfied', 'Mortgages.NumMortSatisfied', 'ConfStmtLastMadeUpDate']

# Impute the mean values for the specified numeric columns
for col in mean_impute_columns:
    if col in company.columns:
        if pd.api.types.is_numeric_dtype(company[col]):
            company[col] = company[col].fillna(company[col].mean())

# Now the DataFrame 'company' should have the missing values filled with appropriate techniques
#This code fills missing values in certain columns using forward fill and mean imputation, 
#ensuring the DataFrame 'company' has appropriate data for further analysis

In [89]:
# check for nulls
#This code checks for null (missing) values in each column of the DataFrame 'company' and calculates the percentage of nulls for each column. 
#It then prints the column name along with the percentage of nulls, 
#indicating how much data is missing in each column.
for col in company.columns:
    val=np.mean(company[col].isnull())
    print('{} -{}% nulls'.format(col,round(val*100)))

CompanyName -0% nulls
 CompanyNumber -0% nulls
RegAddress.CareOf -0% nulls
RegAddress.POBox -0% nulls
RegAddress.AddressLine1 -0% nulls
 RegAddress.AddressLine2 -0% nulls
RegAddress.PostTown -0% nulls
RegAddress.County -0% nulls
RegAddress.Country -0% nulls
RegAddress.PostCode -0% nulls
CompanyCategory -0% nulls
CompanyStatus -0% nulls
CountryOfOrigin -0% nulls
IncorporationDate -0% nulls
Accounts.AccountRefDay -0% nulls
Accounts.AccountRefMonth -0% nulls
Accounts.NextDueDate -0% nulls
Accounts.LastMadeUpDate -0% nulls
Accounts.AccountCategory -0% nulls
Returns.NextDueDate -0% nulls
Returns.LastMadeUpDate -0% nulls
Mortgages.NumMortCharges -0% nulls
Mortgages.NumMortOutstanding -0% nulls
Mortgages.NumMortPartSatisfied -0% nulls
Mortgages.NumMortSatisfied -0% nulls
SICCode.SicText_1 -0% nulls
SICCode.SicText_2 -0% nulls
SICCode.SicText_3 -0% nulls
SICCode.SicText_4 -0% nulls
LimitedPartnerships.NumGenPartners -0% nulls
LimitedPartnerships.NumLimPartners -0% nulls
URI -0% nulls
PreviousName_1.CONDATE -0% nulls
 PreviousName_1.CompanyName -0% nulls
 PreviousName_2.CONDATE -0% nulls
 PreviousName_2.CompanyName -0% nulls
PreviousName_3.CONDATE -0% nulls
 PreviousName_3.CompanyName -0% nulls
PreviousName_4.CONDATE -0% nulls
 PreviousName_4.CompanyName -0% nulls
PreviousName_5.CONDATE -0% nulls
 PreviousName_5.CompanyName -0% nulls
PreviousName_6.CONDATE -0% nulls
 PreviousName_6.CompanyName -0% nulls
PreviousName_7.CONDATE -0% nulls
 PreviousName_7.CompanyName -0% nulls
PreviousName_8.CONDATE -0% nulls
 PreviousName_8.CompanyName -0% nulls
ConfStmtNextDueDate -0% nulls
 ConfStmtLastMadeUpDate -0% nulls

In [67]:
# Check for null values in the DataFrame
null_values_present = company.isnull().any(axis=0)

# Display columns with null values, if any
if null_values_present.any():
    print("Null values are still present in the following columns:")
    print(null_values_present[null_values_present])
else:
    print("All null values have been filled.")

Null values are still present in the following columns:
RegAddress.CareOf               True
RegAddress.POBox                True
 RegAddress.AddressLine2        True
RegAddress.County               True
DissolutionDate                 True
Returns.LastMadeUpDate          True
SICCode.SicText_2               True
SICCode.SicText_3               True
SICCode.SicText_4               True
PreviousName_1.CONDATE          True
 PreviousName_1.CompanyName     True
 PreviousName_2.CONDATE         True
 PreviousName_2.CompanyName     True
PreviousName_3.CONDATE          True
 PreviousName_3.CompanyName     True
PreviousName_4.CONDATE          True
 PreviousName_4.CompanyName     True
PreviousName_5.CONDATE          True
 PreviousName_5.CompanyName     True
PreviousName_6.CONDATE          True
 PreviousName_6.CompanyName     True
PreviousName_7.CONDATE          True
 PreviousName_7.CompanyName     True
PreviousName_8.CONDATE          True
 PreviousName_8.CompanyName     True
PreviousName_9.CONDATE          True
 PreviousName_9.CompanyName     True
PreviousName_10.CONDATE         True
 PreviousName_10.CompanyName    True
 ConfStmtLastMadeUpDate         True
dtype: bool

In [68]:
import pandas as pd

# Assuming you have your DataFrame stored in a variable 'df'
# Example:
# df = pd.read_csv('your_dataset.csv')

# Forward fill missing values in certain columns
forward_fill_columns = ['RegAddress.CareOf', 'RegAddress.POBox', 'RegAddress.AddressLine2',
                        'RegAddress.County', 'DissolutionDate', 'Returns.LastMadeUpDate',
                        'SICCode.SicText_2', 'SICCode.SicText_3', 'SICCode.SicText_4',
                        'PreviousName_1.CONDATE', 'PreviousName_1.CompanyName',
                        'PreviousName_2.CONDATE', 'PreviousName_2.CompanyName',
                        'PreviousName_3.CONDATE', 'PreviousName_3.CompanyName',
                        'PreviousName_4.CONDATE', 'PreviousName_4.CompanyName',
                        'PreviousName_5.CONDATE', 'PreviousName_5.CompanyName',
                        'PreviousName_6.CONDATE', 'PreviousName_6.CompanyName',
                        'PreviousName_7.CONDATE', 'PreviousName_7.CompanyName',
                        'PreviousName_8.CONDATE', 'PreviousName_8.CompanyName',
                        'PreviousName_9.CONDATE', 'PreviousName_9.CompanyName',
                        'PreviousName_10.CONDATE', 'PreviousName_10.CompanyName',
                        'ConfStmtLastMadeUpDate']

# Check if columns exist in the DataFrame before filling missing values
for col in forward_fill_columns:
    if col in company.columns:
        company[col] = company[col].ffill()

# Check if any null values are present after forward filling
null_counts_after_ffill = company.isnull().sum()

if not null_counts_after_ffill.sum() == 0:
    print("Null values still present after forward filling. Further investigation may be required.")
else:
    print("All null values have been filled using forward filling.")

Null values still present after forward filling. Further investigation may be required.

In [69]:
company.isna().sum()

CompanyName                                0
 CompanyNumber                             0
RegAddress.CareOf                        226
RegAddress.POBox                          85
RegAddress.AddressLine1                    0
 RegAddress.AddressLine2               99915
RegAddress.PostTown                        0
RegAddress.County                          1
RegAddress.Country                         0
RegAddress.PostCode                        0
CompanyCategory                            0
CompanyStatus                              0
CountryOfOrigin                            0
DissolutionDate                       259638
IncorporationDate                          0
Accounts.AccountRefDay                     0
Accounts.AccountRefMonth                   0
Accounts.NextDueDate                       0
Accounts.LastMadeUpDate                    0
Accounts.AccountCategory                   0
Returns.NextDueDate                        0
Returns.LastMadeUpDate                     1
Mortgages.NumMortCharges                   0
Mortgages.NumMortOutstanding               0
Mortgages.NumMortPartSatisfied             0
Mortgages.NumMortSatisfied                 0
SICCode.SicText_1                          0
SICCode.SicText_2                          2
SICCode.SicText_3                          7
SICCode.SicText_4                         33
LimitedPartnerships.NumGenPartners         0
LimitedPartnerships.NumLimPartners         0
URI                                        0
PreviousName_1.CONDATE                    15
 PreviousName_1.CompanyName           234811
 PreviousName_2.CONDATE               255347
 PreviousName_2.CompanyName           255347
PreviousName_3.CONDATE                   249
 PreviousName_3.CompanyName           258705
PreviousName_4.CONDATE                   249
 PreviousName_4.CompanyName           259408
PreviousName_5.CONDATE                   249
 PreviousName_5.CompanyName           259576
PreviousName_6.CONDATE                  3994
 PreviousName_6.CompanyName           259621
PreviousName_7.CONDATE                  3994
 PreviousName_7.CompanyName           259632
PreviousName_8.CONDATE                122147
 PreviousName_8.CompanyName           259636
PreviousName_9.CONDATE                259638
 PreviousName_9.CompanyName           259638
PreviousName_10.CONDATE               259638
 PreviousName_10.CompanyName          259638
ConfStmtNextDueDate                        0
 ConfStmtLastMadeUpDate                55624
dtype: int64

In [70]:
# Forward fill missing values in certain columns
forward_fill_columns = ['RegAddress.CareOf', 'RegAddress.POBox', 'RegAddress.AddressLine1', 'RegAddress.AddressLine2',
                        'RegAddress.PostTown', 'RegAddress.County', 'RegAddress.Country', 'RegAddress.PostCode',
                        'Accounts.AccountRefDay', 'Accounts.AccountRefMonth', 'Accounts.NextDueDate',
                        'Accounts.LastMadeUpDate', 'Returns.NextDueDate', 'Returns.LastMadeUpDate',
                        'SICCode.SicText_2', 'SICCode.SicText_3', 'SICCode.SicText_4', 'PreviousName_1.CONDATE',
                        'PreviousName_1.CompanyName', 'PreviousName_2.CONDATE', 'PreviousName_2.CompanyName',
                        'PreviousName_3.CONDATE', 'PreviousName_3.CompanyName', 'PreviousName_4.CONDATE',
                        'PreviousName_4.CompanyName', 'PreviousName_5.CONDATE', 'PreviousName_5.CompanyName',
                        'PreviousName_6.CONDATE', 'PreviousName_6.CompanyName', 'PreviousName_7.CONDATE',
                        'PreviousName_7.CompanyName', 'PreviousName_8.CONDATE', 'PreviousName_8.CompanyName',
                        'PreviousName_9.CONDATE', 'PreviousName_9.CompanyName', 'PreviousName_10.CONDATE',
                        'PreviousName_10.CompanyName', 'ConfStmtNextDueDate']

# Check if columns exist in the DataFrame before filling missing values
for col in forward_fill_columns:
    if col in company.columns:
        company[col] = company[col].ffill()

# Fill remaining missing values with appropriate techniques
for col in company.columns:
    if company[col].isnull().any():
        if pd.api.types.is_numeric_dtype(company[col]):
            company[col] = company[col].fillna(company[col].mean())
        else:
            company[col] = company[col].fillna('')

# Now the DataFrame 'company' should have the missing values filled with forward fill,
# and any columns with remaining empty values should be filled with appropriate techniques.

In [50]:
company.isna().sum()

CompanyName                                0
 CompanyNumber                             0
RegAddress.CareOf                          0
RegAddress.POBox                           0
RegAddress.AddressLine1                    0
 RegAddress.AddressLine2                   0
RegAddress.PostTown                        0
RegAddress.County                          0
RegAddress.Country                         0
RegAddress.PostCode                        0
CompanyCategory                            0
CompanyStatus                              0
CountryOfOrigin                            0
DissolutionDate                       259638
IncorporationDate                          0
Accounts.AccountRefDay                     0
Accounts.AccountRefMonth                   0
Accounts.NextDueDate                       0
Accounts.LastMadeUpDate                    0
Accounts.AccountCategory                   0
Returns.NextDueDate                        0
Returns.LastMadeUpDate                     0
Mortgages.NumMortCharges                   0
Mortgages.NumMortOutstanding               0
Mortgages.NumMortPartSatisfied             0
Mortgages.NumMortSatisfied                 0
SICCode.SicText_1                          0
SICCode.SicText_2                          0
SICCode.SicText_3                          0
SICCode.SicText_4                          0
LimitedPartnerships.NumGenPartners         0
LimitedPartnerships.NumLimPartners         0
URI                                        0
PreviousName_1.CONDATE                     0
 PreviousName_1.CompanyName                0
 PreviousName_2.CONDATE                    0
 PreviousName_2.CompanyName                0
PreviousName_3.CONDATE                     0
 PreviousName_3.CompanyName                0
PreviousName_4.CONDATE                     0
 PreviousName_4.CompanyName                0
PreviousName_5.CONDATE                     0
 PreviousName_5.CompanyName                0
PreviousName_6.CONDATE                     0
 PreviousName_6.CompanyName                0
PreviousName_7.CONDATE                     0
 PreviousName_7.CompanyName                0
PreviousName_8.CONDATE                     0
 PreviousName_8.CompanyName                0
PreviousName_9.CONDATE                259638
 PreviousName_9.CompanyName           259638
PreviousName_10.CONDATE               259638
 PreviousName_10.CompanyName          259638
ConfStmtNextDueDate                        0
 ConfStmtLastMadeUpDate                    0
dtype: int64

In [71]:
# Forward fill missing values in certain columns
forward_fill_columns = ['RegAddress.CareOf', 'RegAddress.POBox', 'RegAddress.AddressLine1', 'RegAddress.AddressLine2',
                        'RegAddress.PostTown', 'RegAddress.County', 'RegAddress.Country', 'RegAddress.PostCode',
                        'Accounts.AccountRefDay', 'Accounts.AccountRefMonth', 'Accounts.NextDueDate',
                        'Accounts.LastMadeUpDate', 'Returns.NextDueDate', 'Returns.LastMadeUpDate',
                        'SICCode.SicText_2', 'SICCode.SicText_3', 'SICCode.SicText_4', 'PreviousName_1.CONDATE',
                        'PreviousName_1.CompanyName', 'PreviousName_2.CONDATE', 'PreviousName_2.CompanyName',
                        'PreviousName_3.CONDATE', 'PreviousName_3.CompanyName', 'PreviousName_4.CONDATE',
                        'PreviousName_4.CompanyName', 'PreviousName_5.CONDATE', 'PreviousName_5.CompanyName',
                        'PreviousName_6.CONDATE', 'PreviousName_6.CompanyName', 'PreviousName_7.CONDATE',
                        'PreviousName_7.CompanyName', 'PreviousName_8.CONDATE', 'PreviousName_8.CompanyName',
                        'PreviousName_9.CONDATE', 'PreviousName_9.CompanyName', 'PreviousName_10.CONDATE',
                        'PreviousName_10.CompanyName', 'ConfStmtNextDueDate']

# Check if columns exist in the DataFrame before filling missing values
for col in forward_fill_columns:
    if col in company.columns:
        company[col] = company[col].ffill()

# Fill remaining missing values with appropriate techniques
for col in company.columns:
    if company[col].isnull().any():
        if pd.api.types.is_numeric_dtype(company[col]):
            company[col] = company[col].fillna(company[col].mean())
        else:
            company[col] = company[col].fillna('')

# Now the DataFrame 'company' should have the missing values filled with forward fill,
# and any columns with remaining empty values should be filled with appropriate techniques.

In [53]:
company.isna().sum()

CompanyName                                0
 CompanyNumber                             0
RegAddress.CareOf                          0
RegAddress.POBox                           0
RegAddress.AddressLine1                    0
 RegAddress.AddressLine2                   0
RegAddress.PostTown                        0
RegAddress.County                          0
RegAddress.Country                         0
RegAddress.PostCode                        0
CompanyCategory                            0
CompanyStatus                              0
CountryOfOrigin                            0
DissolutionDate                       259638
IncorporationDate                          0
Accounts.AccountRefDay                     0
Accounts.AccountRefMonth                   0
Accounts.NextDueDate                       0
Accounts.LastMadeUpDate                    0
Accounts.AccountCategory                   0
Returns.NextDueDate                        0
Returns.LastMadeUpDate                     0
Mortgages.NumMortCharges                   0
Mortgages.NumMortOutstanding               0
Mortgages.NumMortPartSatisfied             0
Mortgages.NumMortSatisfied                 0
SICCode.SicText_1                          0
SICCode.SicText_2                          0
SICCode.SicText_3                          0
SICCode.SicText_4                          0
LimitedPartnerships.NumGenPartners         0
LimitedPartnerships.NumLimPartners         0
URI                                        0
PreviousName_1.CONDATE                     0
 PreviousName_1.CompanyName                0
 PreviousName_2.CONDATE                    0
 PreviousName_2.CompanyName                0
PreviousName_3.CONDATE                     0
 PreviousName_3.CompanyName                0
PreviousName_4.CONDATE                     0
 PreviousName_4.CompanyName                0
PreviousName_5.CONDATE                     0
 PreviousName_5.CompanyName                0
PreviousName_6.CONDATE                     0
 PreviousName_6.CompanyName                0
PreviousName_7.CONDATE                     0
 PreviousName_7.CompanyName                0
PreviousName_8.CONDATE                     0
 PreviousName_8.CompanyName                0
PreviousName_9.CONDATE                259638
 PreviousName_9.CompanyName           259638
PreviousName_10.CONDATE               259638
 PreviousName_10.CompanyName          259638
ConfStmtNextDueDate                        0
 ConfStmtLastMadeUpDate                    0
dtype: int64

In [72]:
import pandas as pd

# Assuming you have your DataFrame stored in a variable 'company'
# Example:
# company = pd.read_csv('your_dataset.csv')

# Forward fill missing values in certain columns
forward_fill_columns = ['RegAddress.CareOf', 'RegAddress.POBox', 'RegAddress.AddressLine1', 'RegAddress.AddressLine2',
                        'RegAddress.PostTown', 'RegAddress.County', 'RegAddress.Country', 'RegAddress.PostCode',
                        'Accounts.AccountRefDay', 'Accounts.AccountRefMonth', 'Accounts.NextDueDate',
                        'Accounts.LastMadeUpDate', 'Returns.NextDueDate', 'Returns.LastMadeUpDate',
                        'SICCode.SicText_2', 'SICCode.SicText_3', 'SICCode.SicText_4', 'PreviousName_1.CONDATE',
                        'PreviousName_1.CompanyName', 'PreviousName_2.CONDATE', 'PreviousName_2.CompanyName',
                        'PreviousName_3.CONDATE', 'PreviousName_3.CompanyName', 'PreviousName_4.CONDATE',
                        'PreviousName_4.CompanyName', 'PreviousName_5.CONDATE', 'PreviousName_5.CompanyName',
                        'PreviousName_6.CONDATE', 'PreviousName_6.CompanyName', 'PreviousName_7.CONDATE',
                        'PreviousName_7.CompanyName', 'PreviousName_8.CONDATE', 'PreviousName_8.CompanyName',
                        'PreviousName_9.CONDATE', 'PreviousName_9.CompanyName', 'PreviousName_10.CONDATE',
                        'PreviousName_10.CompanyName', 'ConfStmtNextDueDate']

# Check if columns exist in the DataFrame before filling missing values
for col in forward_fill_columns:
    if col in company.columns:
        company[col] = company[col].ffill()

# Fill remaining missing values with appropriate techniques
for col in company.columns:
    if company[col].isnull().any():
        if pd.api.types.is_numeric_dtype(company[col]):
            company[col] = company[col].fillna(company[col].mean())
        else:
            company[col] = company[col].fillna('')

# Drop any rows with all null values
company.dropna(axis=0, how='all', inplace=True)

# Drop any columns with all null values
company.dropna(axis=1, how='all', inplace=True)

# Now the DataFrame 'company' should have the missing values filled with forward fill,
# and any columns with remaining empty values should be filled with appropriate techniques.
# Additionally, all empty rows and columns should be removed from the DataFrame.

In [75]:
company.isna().sum()

CompanyName                           0
 CompanyNumber                        0
RegAddress.CareOf                     0
RegAddress.POBox                      0
RegAddress.AddressLine1               0
 RegAddress.AddressLine2              0
RegAddress.PostTown                   0
RegAddress.County                     0
RegAddress.Country                    0
RegAddress.PostCode                   0
CompanyCategory                       0
CompanyStatus                         0
CountryOfOrigin                       0
IncorporationDate                     0
Accounts.AccountRefDay                0
Accounts.AccountRefMonth              0
Accounts.NextDueDate                  0
Accounts.LastMadeUpDate               0
Accounts.AccountCategory              0
Returns.NextDueDate                   0
Returns.LastMadeUpDate                0
Mortgages.NumMortCharges              0
Mortgages.NumMortOutstanding          0
Mortgages.NumMortPartSatisfied        0
Mortgages.NumMortSatisfied            0
SICCode.SicText_1                     0
SICCode.SicText_2                     0
SICCode.SicText_3                     0
SICCode.SicText_4                     0
LimitedPartnerships.NumGenPartners    0
LimitedPartnerships.NumLimPartners    0
URI                                   0
PreviousName_1.CONDATE                0
 PreviousName_1.CompanyName           0
 PreviousName_2.CONDATE               0
 PreviousName_2.CompanyName           0
PreviousName_3.CONDATE                0
 PreviousName_3.CompanyName           0
PreviousName_4.CONDATE                0
 PreviousName_4.CompanyName           0
PreviousName_5.CONDATE                0
 PreviousName_5.CompanyName           0
PreviousName_6.CONDATE                0
 PreviousName_6.CompanyName           0
PreviousName_7.CONDATE                0
 PreviousName_7.CompanyName           0
PreviousName_8.CONDATE                0
 PreviousName_8.CompanyName           0
ConfStmtNextDueDate                   0
 ConfStmtLastMadeUpDate               0
dtype: int64

# Company Category is ‘Private Limited Company’

This code filters the DataFrame 'company' to extract only the rows where the 'CompanyCategory' column has the value 'Private Limited Company'. It creates a new DataFrame called 'filtered_data' containing only the rows that meet this condition. Essentially, 'filtered_data' now contains only the rows corresponding to companies that are categorized as 'Private Limited Company'.

In [78]:
# Filter the data with the condition: Company Category is 'Private Limited Company'
filtered_data = company[company['CompanyCategory'] == 'Private Limited Company']
filtered_data
# Now 'filtered_data' contains only the rows where the Company Category is 'Private Limited Company'

,CompanyName,CompanyNumber,RegAddress.CareOf,RegAddress.POBox,RegAddress.AddressLine1,RegAddress.AddressLine2,RegAddress.PostTown,RegAddress.County,RegAddress.Country,RegAddress.PostCode,...,PreviousName_5.CONDATE,PreviousName_5.CompanyName,PreviousName_6.CONDATE,PreviousName_6.CompanyName,PreviousName_7.CONDATE,PreviousName_7.CompanyName,PreviousName_8.CONDATE,PreviousName_8.CompanyName,ConfStmtNextDueDate,ConfStmtLastMadeUpDate
0,VISION PACK LTD,10831327,,,6-8 MANVERS ROAD,SWALLOWNEST,SHEFFIELD,,UNITED KINGDOM,S26 4UD,...,,,,,,,,,01/08/2023,18/07/2022
1,VISION PAINT & DESIGN LIMITED,05628705,,,9 FAIRLOP AVENUE,,CANVEY ISLAND,ESSEX,UNITED KINGDOM,SS8 9DX,...,,,,,,,,,17/11/2023,03/11/2022
2,VISION PAINT SPRAYING LIMITED,10947174,,,UNIT 4F MANOR BUSINESS PARK,WOODFORD HALSE,DAVENTRY,ESSEX,ENGLAND,NN11 3UB,...,,,,,,,,,18/09/2021,04/09/2020
3,VISION PARATUS LTD,14906975,,,71-75 SHELTON STREET,COVENT GARDEN,LONDON,ESSEX,UNITED KINGDOM,WC2H 9JQ,...,,,,,,,,,13/06/2024,
5,VISION PARK MANAGEMENT LIMITED,02479238,,,50/60 STATION ROAD,,CAMBRIDGE,CAMBRIDGESHIRE,ENGLAND,CB1 2JH,...,,,,,,,,,24/12/2023,10/12/2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259633,“THE GREENHOUSE” COMPANY LTD,11457383,ZYTRONIC PLC,TEISON UK,IRONMASTER HOUSE,WYLE COP,SHREWSBURY,SHROPSHIRE,ENGLAND,SY1 1XF,...,23/04/2007,,12/11/2020,,18/06/2008,,13/11/2006,,06/07/2024,22/06/2023
259634,“THE SKULL” SAUCE COMPANY LTD,SC660098,ZYTRONIC PLC,TEISON UK,9 BROOMBURN GROVE,,EDINBURGH,SHROPSHIRE,SCOTLAND,EH12 7NN,...,23/04/2007,,12/11/2020,,18/06/2008,,13/11/2006,,11/05/2024,27/04/2023
259635,“UGUR-97” FIRMASI LTD,13707057,ZYTRONIC PLC,TEISON UK,60 BROMPTON ROAD,,LONDON,SHROPSHIRE,UNITED KINGDOM,SW3 1BW,...,23/04/2007,,12/11/2020,,18/06/2008,,13/11/2006,,09/11/2023,26/10/2022
259636,€ RECYCLING LIMITED,04528854,ZYTRONIC PLC,TEISON UK,CARDINGTON POINT,TELFORD WAY,BEDFORD,SHROPSHIRE,ENGLAND,MK42 0PQ,...,23/04/2007,,12/11/2020,,18/06/2008,,13/11/2006,,18/06/2024,04/06/2023
259637,€URO IMPORTS LIMITED,08182582,ZYTRONIC PLC,TEISON UK,414-416 BLACKPOOL ROAD,ASHTON-ON-RIBBLE,PRESTON,SHROPSHIRE,ENGLAND,PR2 2DX,...,23/04/2007,,12/11/2020,,18/06/2008,,13/11/2006,,28/08/2023,14/08/2022

# Company Status is ‘Active’

This code filters the DataFrame 'company' to extract only the rows where the 'CompanyStatus' column has the value 'Active'. It creates a new DataFrame called 'Active_company' containing only the rows that meet this condition. Essentially, 'Active_company' now contains only the rows corresponding to companies with an 'Active' status.

In [81]:
# Filter the data with the condition: Company Status is 'Active'
Active_company = company[company['CompanyStatus'] == 'Active']
Active_company
# Now 'filtered_data' contains only the rows where the Company Status is 'Active'

,CompanyName,CompanyNumber,RegAddress.CareOf,RegAddress.POBox,RegAddress.AddressLine1,RegAddress.AddressLine2,RegAddress.PostTown,RegAddress.County,RegAddress.Country,RegAddress.PostCode,...,PreviousName_5.CONDATE,PreviousName_5.CompanyName,PreviousName_6.CONDATE,PreviousName_6.CompanyName,PreviousName_7.CONDATE,PreviousName_7.CompanyName,PreviousName_8.CONDATE,PreviousName_8.CompanyName,ConfStmtNextDueDate,ConfStmtLastMadeUpDate
0,VISION PACK LTD,10831327,,,6-8 MANVERS ROAD,SWALLOWNEST,SHEFFIELD,,UNITED KINGDOM,S26 4UD,...,,,,,,,,,01/08/2023,18/07/2022
1,VISION PAINT & DESIGN LIMITED,05628705,,,9 FAIRLOP AVENUE,,CANVEY ISLAND,ESSEX,UNITED KINGDOM,SS8 9DX,...,,,,,,,,,17/11/2023,03/11/2022
3,VISION PARATUS LTD,14906975,,,71-75 SHELTON STREET,COVENT GARDEN,LONDON,ESSEX,UNITED KINGDOM,WC2H 9JQ,...,,,,,,,,,13/06/2024,
4,VISION PARK CYGNET MANAGEMENT COMPANY LIMITED,05747663,,,"4 OFFICE VILLAGE FORDER WAY, CYGNET PARK",HAMPTON,PETERBOROUGH,CAMBRIDGESHIRE,ENGLAND,PE7 8GX,...,,,,,,,,,14/04/2024,31/03/2023
5,VISION PARK MANAGEMENT LIMITED,02479238,,,50/60 STATION ROAD,,CAMBRIDGE,CAMBRIDGESHIRE,ENGLAND,CB1 2JH,...,,,,,,,,,24/12/2023,10/12/2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259632,“SAIL IN GREECE ADVENTURES” LTD,09511422,ZYTRONIC PLC,TEISON UK,INTERNATIONAL HOUSE,24 HOLBORN VIADUCT,LONDON,SUFFOLK,ENGLAND,EC1A 2BN,...,23/04/2007,,12/11/2020,,18/06/2008,,13/11/2006,,09/04/2024,26/03/2023
259633,“THE GREENHOUSE” COMPANY LTD,11457383,ZYTRONIC PLC,TEISON UK,IRONMASTER HOUSE,WYLE COP,SHREWSBURY,SHROPSHIRE,ENGLAND,SY1 1XF,...,23/04/2007,,12/11/2020,,18/06/2008,,13/11/2006,,06/07/2024,22/06/2023
259635,“UGUR-97” FIRMASI LTD,13707057,ZYTRONIC PLC,TEISON UK,60 BROMPTON ROAD,,LONDON,SHROPSHIRE,UNITED KINGDOM,SW3 1BW,...,23/04/2007,,12/11/2020,,18/06/2008,,13/11/2006,,09/11/2023,26/10/2022
259636,€ RECYCLING LIMITED,04528854,ZYTRONIC PLC,TEISON UK,CARDINGTON POINT,TELFORD WAY,BEDFORD,SHROPSHIRE,ENGLAND,MK42 0PQ,...,23/04/2007,,12/11/2020,,18/06/2008,,13/11/2006,,18/06/2024,04/06/2023
259637,€URO IMPORTS LIMITED,08182582,ZYTRONIC PLC,TEISON UK,414-416 BLACKPOOL ROAD,ASHTON-ON-RIBBLE,PRESTON,SHROPSHIRE,ENGLAND,PR2 2DX,...,23/04/2007,,12/11/2020,,18/06/2008,,13/11/2006,,28/08/2023,14/08/2022

# Accounts Category is ‘SMALL’ and ‘MEDIUM’

This code filters the DataFrame 'company' to extract only the rows where the 'Accounts.AccountCategory' column has the value 'SMALL' or 'MEDIUM'. It creates a new DataFrame called 'smallandmeduim' containing only the rows that meet this condition. Essentially, 'smallandmeduim' now contains only the rows corresponding to companies with the account category as 'SMALL' or 'MEDIUM'.

In [88]:
# Filter the data with the condition: Accounts Category is 'SMALL' or 'MEDIUM'
smallandmeduim = company[company['Accounts.AccountCategory'].isin(['SMALL', 'MEDIUM'])]
smallandmeduim
# Now 'filtered_data' contains only the rows where the Accounts Category is 'SMALL' or 'MEDIUM'

,CompanyName,CompanyNumber,RegAddress.CareOf,RegAddress.POBox,RegAddress.AddressLine1,RegAddress.AddressLine2,RegAddress.PostTown,RegAddress.County,RegAddress.Country,RegAddress.PostCode,...,PreviousName_5.CONDATE,PreviousName_5.CompanyName,PreviousName_6.CONDATE,PreviousName_6.CompanyName,PreviousName_7.CONDATE,PreviousName_7.CompanyName,PreviousName_8.CONDATE,PreviousName_8.CompanyName,ConfStmtNextDueDate,ConfStmtLastMadeUpDate
27,VISION PHARMACEUTICALS LTD,02175795,,,FERNBANK HOUSE,TYTHERINGTON BUSINESS PARK,MACCLESFIELD,CHESHIRE,ENGLAND,SK10 2XA,...,,,,,,,,,09/06/2024,26/05/2023
50,VISION POINT SYSTEMS LIMITED,12147162,,,16 GREAT QUEEN STREET,COVENT GARDEN,LONDON,NORFOLK,UNITED KINGDOM,WC2B 5AH,...,,,,,,,,,21/08/2023,07/08/2022
243,VISION SOLUTIONS UK LIMITED,04858220,VISION SIGN & DIGITAL LTD,7010,PEARL ASSURANCE HOUSE,319 BALLARDS LANE,LONDON,HERTFORDSHIRE,UNITED KINGDOM,N12 8LY,...,,,,,,,,,29/06/2023,15/06/2022
281,VISION SUPPORT BARROW & DISTRICT,03133015,VISION SIGN & DIGITAL LTD,NW66DB,67/69 CAVENDISH STREET,BARROW IN FURNESS,CUMBRIA,DEVON,ENGLAND,LA14 1QD,...,29/10/2008,,,,,,,,21/01/2024,07/01/2023
284,VISION SUPPORT TRADING LIMITED,03828782,VISION SIGN & DIGITAL LTD,NW66DB,UNIT 8 CAPENHURST TECHNOLOGY PARK,CAPENHURST,CHESTER,LANCASHIRE,ENGLAND,CH1 6EH,...,29/10/2008,,,,,,,,31/08/2023,17/08/2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
258696,ZYCOMM ELECTRONICS LIMITED,01412033,C/O GERLINDE GNIEWOSZ,4385,51 NOTTINGHAM ROAD,RIPLEY,DERBYSHIRE,DERBYSHIRE,ENGLAND,DE5 3AS,...,23/04/2007,,12/11/2020,,18/06/2008,,13/11/2006,,23/04/2024,09/04/2023
258997,ZYNQ360 LIMITED,SC523812,C/O GERLINDE GNIEWOSZ,4385,62 LEADSIDE ROAD,,ABERDEEN,KENT,SCOTLAND,AB25 1TW,...,23/04/2007,,12/11/2020,,18/06/2008,,13/11/2006,,21/01/2024,07/01/2023
259030,ZYOX LIMITED,02270075,C/O GERLINDE GNIEWOSZ,4385,"UNIT 2, KENYON FORGE",KENYON STREET,BIRMINGHAM,WARWICKSHIRE,ENGLAND,B18 6DH,...,23/04/2007,,12/11/2020,,18/06/2008,,13/11/2006,,14/01/2024,31/12/2022
259111,ZYSTM UK LIMITED,11456518,C/O GERLINDE GNIEWOSZ,4385,GIBSON HOUSE LANCASTER WAY,ERMINE BUSINESS PARK,HUNTINGDON,HEREFORDSHIRE,ENGLAND,PE29 6XU,...,23/04/2007,,12/11/2020,,18/06/2008,,13/11/2006,,23/07/2023,09/07/2022
259150,ZYWAVE UK LIMITED,08136637,ZYTRONIC PLC,4385,5TH FLOOR GROVE HOUSE,248A MARYLEBONE ROAD,LONDON,ESSEX,ENGLAND,NW1 6BB,...,23/04/2007,,12/11/2020,,18/06/2008,,13/11/2006,,05/08/2022,22/07/2021